body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top_sec_left{
    float: left;
    width: 40%;
    margin-left: 6%;
    margin-top: 60px;
    
}

.head_stl{
    font-size: 60px;
    margin-bottom: 50px;
}
.fon_stl{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 100px;
}
.ancor{
    padding: 30px 50px;
    border-radius: 100px;
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: white;
}
.top_sec_right{
    float: right;
    
}
.flexible_container{
    display: flex;
    margin-bottom: 100px;
}
.mid_sec{
    background-image: url(images/shapes/7.png);
    background-repeat:no-repeat;
    width: 100%;
    padding: 40px;
}
.mid_sec_left{
    float: left;
    margin-top: 50px;
    margin-left: 250px;

}
.mid_sec_right{
    float: right;
    margin-top:70px;
    margin-right: 200px;
    margin-left: 250px;
}
.head_stl{
    font-size: 32px;
}

.tex_ali{
    text-align: center;
    
}
.box_left{
    width: 30%;
    float: left;
    box-shadow:10px 10px 40px gray;
}
.box_right{
    width: ;
    float: right;
}
.bo1{
    float: left;
    box-shadow:10px 10px 40px gray;
}

.box2{
    float: right;
}

.box1{
    box-shadow:10px 30px 20px 20px gray;
    margin-left: 100px;
    border-radius: 20px;
    text-align: center;
}
.box2{
    box-shadow:10px 30px 20px 20px gray;
    margin-left: 100px;
    border-radius: 20px;
    text-align: center;
}
.box3{
    box-shadow:10px 30px 20px 20px gray;
    margin-left: 100px;
    border-radius: 20px;
    text-align: center;
}
.subscrib{
    box-shadow:10px 30px 20px 20px gray;
    border-radius:20px;
    width: 87%;
    height: 200px;
    margin-left: 100px;
    padding: 20px;
}
.list{
    margin-left: 150px;
    
}
.list li{
    float: left;
    text-align: center;
    line-height: 40px;
    margin-left: 150px;
    list-style-type: none;
}
.foter{
    background-color: #0B0D17;
    padding: 80px;
    text-align: center;
}
span{
    color:#5b5b5b;
}
.hcolor{
    color: #fb944a;
}
.pcolor{
    color: white;
}