body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top_sec_left{
    float: left;
    width: 40%;
    margin-left: 6%;
    margin-top: 60px;
    
}
.head_stl{
    font-size: 60px;
}

.ancor{
    padding: 20px 40px;
    border-radius: 100px;
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: white;
}
.top_sec_right{
    float: right;
    
}
.flexible_container{
    display: flex;
    margin-bottom: 100px;
}
.mid_sec{
    background-image: url(images/shapes/7.png);
    background-repeat:no-repeat;
    margin-left: 3%;
}
.mid_sec_left{
    float: left;
    margin-top: 50px;
    margin-bottom: 100px;

}
.mid_sec_right{
    float: right;
    margin-top:100px;
    margin-right: 100px;
}
.tex_ali{
    text-align: center;
}
.box_left{
    width: 30%;
    float: left;
}
.box_right{
    width: ;
    float: right;
}
.box1{
    float: left;
}
.box2{
    float: right;
}
